$base-color: dynamic(#4E88BB);
$neutral-color: dynamic(#4E88BB);
$blue-background-color: dynamic(#dfe9f6);

.x-toolbar-default {
  background-color: $blue-background-color;
}

.x-panel-default-outer-border-trbl {
  border-width: 0px !important;
}

.x-btn-icon-el-default-toolbar-large {
  height: 32px;
}

body.x-border-layout-ct, div.x-border-layout-ct {
  background-color: #ffffff !important;
}

.cke_chrome {
  border: 0 !important;
}
.cke_bottom {
  background: $base-color !important;
}


.noticeText {
  font-family: "cursive" !important;
  font-size: 11px !important;
  font-weight: normal !important;
  color: #717185 !important;
}

.windowform {
  //.x-panel-body-default {
    background-color: $blue-background-color !important;
  //}
}

.x-title-text-default:after {
  content: '' !important;
  font-size: 0 !important;
}

.x-title-text-default-framed:after {
  content: '' !important;
  font-size: 0 !important;
}

.x-tab-bar {
  .x-unselectable {
    border: 1px white dashed;
    border-bottom: 0;
  }
}

.track_mause_div {
  position: absolute;
  padding: 5px;
  border: 1px solid #2c6877;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  background-color: #dfdfdf;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  -khtml-opacity: 0.8;
  z-index: 999999;

  .iconBox {
    margin-right: 5px;
  }
}

.exchangeCls {
  .x-form-trigger-wrap {
    border-right-width: 0;
  }
}









$badge-background-color: #cc0000;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.badgeable{
  @include border-radius(50px);
  color: white;
  //border-color: darken($badge-background-color, 10%);
  //background-color: $badge-background-color;


  background-color: #C00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1a1a), color-stop(3%, #e60000), color-stop(100%, #b30000));
  background-image: -webkit-linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);
  background-image: linear-gradient(top, #ff1a1a,#e60000 3%,#b30000);

  max-width: 95%;
  padding: 2px 4px;
  max-height: 16px;
  font: 10px helvetica, arial, sans-serif;
  box-shadow: -0.6px 1px 3px 1px rgba(119, 119, 119, 0.55);
  -moz-box-shadow: -0.6px 1px 3px 1px rgba(119, 119, 119, 0.55);
  -webkit-box-shadow: -0.6px 1px 3px 1px rgba(119, 119, 119, 0.55);
}
.x-panel-header-title-default .badgeable{
  float: right;
}

#drop_area {
  width: 100%;
  height: 100%;
  border: 3px dashed silver;
  line-height: 100px;
  text-align: center;
  font-size: 36px;
  color: #d3d3d3
}

.wwsMultifilefield {
  min-width: 0 !important;
}